@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --title: #8d99ae;
    --b-counter: #ef233c;
    --b-counter-top: #d90429;
    --b-page: #2b2d42;
    --b-main: #edf2f4;
}
* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: var(--b-page);
}
.text{
    margin: 2vh auto 0 auto;
}
.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 4vh;
}
.definition {
    color: var(--title);
}

main {
    background-color: var(--b-main);
    margin: 2vh 15vw;
    border-radius: 1rem;
    padding: 0 5vw 5vh;
}
.presentation {
    padding: 4vh 0;
}

.container {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}
.button {
    width: 45%;
    height: 2rem;
    border: none;
}
.button:hover {
    cursor: pointer;
    background-color: var(--title);
}
.add-image {
    background-color: var(--b-page);
    color: white;
}
.clear {
    color: var(--b-page);
}

.section-images {
    width: 33vw;
    margin-right: 2vw;
}
.container-image {
    min-height: 20vw;
    background-color: var(--title);
    border-radius: 1rem;
    margin-bottom: 2vh;
}
.image {
    border-radius: 1rem;
    width: 100%;
}

.report {
    position: sticky;
    top: 5vh;
    height: 90vh;
    width: 25vw;
    background-color: var(--b-counter);
    border-radius: 1rem;
}
.report__header {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: var(--b-counter-top);
    border-radius: 1rem 1rem 0 0;
}
.report__description {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}
.counter__report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
}
.report-text {
    font-size: 1.5rem;
}
.counter {
    font-size: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 800px) {
    .report {
        display: none;
    }
    .section-images {
        width: 100%;
    }
}

@media (max-width: 500px) {
    main {
        margin: 5vh 1vw;
    }
}