@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --title: #8d99ae;
    --b-counter: #ef233c;
    --b-counter-top: #d90429;
    --b-page: #2b2d42;
    --b-main: #edf2f4;
}
* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: var(--b-page);
}
.text{
    margin: 2vh auto 0 auto;
}
.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 4vh;
}
.definition {
    color: var(--title);
}

main {
    background-color: var(--b-main);
    margin: 2vh 15vw;
    border-radius: 1rem;
    padding: 0 5vw;
}
.presentation {
    padding: 4vh 0;
}
.container {
    display: flex;
    justify-content: center;
}
.counter {
    position: sticky;
    height: 70vh;
    width: 25vw;
    background-color: var(--b-counter);
    border-radius: 1rem;
}
.counter__description {
    color: white;
    text-align: center;
}
.button {
    width: 45%;
    height: 2rem;
    border: none;
    margin: 0.3rem;
}
.button:hover {
    cursor: pointer;
    background-color: var(--title);
}
.add-image {
    background-color: var(--b-page);
    color: white;
}
.clear {
    color: var(--b-page);
}
.section-images {
    width: 35vw;
}
.image {
    border-radius: 1rem;
    width: 100%;
}
.container-image {
    width: 33vw;
    margin-bottom: 2vh;
}